<!DOCTYPE html>
<html ng-app="opecMain" ng-cloak>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home | OPEC</title>
	<link href="assets/js/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="assets/js/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
	<link href="assets/css/styles.css" rel="stylesheet">
	<script src="assets/js/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="assets/js/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="assets/js/bower_components/slick-carousel/slick/slick.min.js"></script>
	<script src="assets/js/bower_components/angular/angular.min.js"></script>
	<script src="assets/js/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="assets/js/bower_components/angular-slick/dist/slick.min.js"></script>
	<script src="assets/js/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

</head>

<body>
	<div ng-controller="navCtrl as nCtrl" ng-include="nCtrl.templatePath"></div>
	<div ui-view></div>
	<div ng-controller="footerCtrl as fCtrl" ng-include="fCtrl.templatePath"></div>
	<div ng-controller="insertCtrl"></div>

	<!---- Modal Login Register ----->


	<div class="modal fade in" tabindex="-1" role="dialog" id="register" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="panel panel-login modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-5">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link" class="active">Register</a>
							</div>
						</div>
						<hr>
					</div>
				</div>
				<div class="modal-body" ng-controller="loginCtrl as lCtrl">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-login">

								<div class="panel-body">
									<div class="row">
										<div class="col-lg-12">
											<form id="login-form" name="loginForm" novalidate ng-submit="lCtrl.submit_login(loginForm.$valid)" role="form" style="display: block;">
												<div class="form-group">
													<input type="text" name="email" ng-minlength="3" ng-model="lCtrl.loginModel.username" tabindex="1" class="form-control" placeholder="Username" value="" required>
													<br>
													<span class="error" ng-if="loginForm.username.$error.minlength">Minimum 3 characters</span>
												</div>
												<div class="form-group">
													<input type="password" name="password" ng-model="lCtrl.loginModel.password" ng-minlength="4" tabindex="2" class="form-control" placeholder="Password" required>
													<br>
													<span class="error" ng-if="loginForm.password.$error.minlength">Minimum 4 characters</span>
												</div>
												<div class="form-group text-center">
													<input type="checkbox" tabindex="3" class="" name="remember" ng-model="remember">
													<label for="remember"> Remember Me</label>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-sm-6 col-sm-offset-3">
															<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-lg-12">
															<div class="text-center">
																<a href="" tabindex="5" class="forgot-password">Forgot Password?</a>
															</div>
														</div>
													</div>
												</div>
											</form>
											<form id="register-form" name="register" ng-submit="lCtrl.submit_register('true')" role="form" style="display: none;">
												<div class="form-group">
													<input type="text" name="username" ng-model="lCtrl.registerModal.username" tabindex="1" class="form-control" placeholder="Username" value="">
												</div>
												<div class="form-group">
													<input type="email" name="email" ng-model="lCtrl.registerModal.email" tabindex="1" class="form-control" placeholder="Email Address" value="">
												</div>
												<div class="form-group">
													<input type="password" name="password" ng-model="lCtrl.registerModal.password" tabindex="2" class="form-control" placeholder="Password">
												</div>
												<div class="form-group">
													<input type="password" name="confirm-password" ng-model="lCtrl.registerModal.cPassword" tabindex="2" class="form-control" placeholder="Confirm Password">
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-sm-6 col-sm-offset-3">
															<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->



	<script src="app/navigation/module.nav.js"></script>
	<script src="app/navigation/controller.nav.js"></script>
	<script src="app/app.js"></script>
	<script src="app/index/controller.index.js"></script>
	<script src="app/footer/controller.footer.js"></script>
	<script src="app/signIn/controller.login.js"></script>
	<script src="app/insertData/controller.insert.js"></script>
	<script src="assets/js/scripts.js"></script>
</body>

</html>
