<!DOCTYPE html>
<html ng-app="opecMain" ng-cloak>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home | OPEC</title>
	<link href="assets/js/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="assets/js/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
	<link href="assets/js/bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
	<link href="assets/css/styles.css" rel="stylesheet">
	<script src="assets/js/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="assets/js/bower_components/slick-carousel/slick/slick.min.js"></script>
	<script src="assets/js/bower_components/angular/angular.min.js"></script>
	<script src="assets/js/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="assets/js/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="assets/js/bower_components/angular-slick/dist/slick.min.js"></script>
	<script src="assets/js/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

</head>

<body>
	<div ng-controller="navCtrl as nCtrl" ng-include="nCtrl.templatePath"></div>
	<div ui-view></div>
	<div ng-controller="footerCtrl as fCtrl" ng-include="fCtrl.templatePath"></div>

	<script src="app/navigation/module.nav.js"></script>
	<script src="app/navigation/controller.nav.js"></script>
	<script src="app/app.js"></script>
	<script src="app/index/controller.index.js"></script>
	<script src="app/footer/controller.footer.js"></script>
</body>

</html>
